{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="posts">

 {{ range .Site.Menus.main}}

    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Parent }}</a>
    </h1>
 {{ end }}
<nav class="sidebar-nav">

<p> 
    <ul>
     
        <li>Hello</li>
        <li>{{with .PrevPage}}{{.PrevPage.Permalink}}{{end}}</li>
        <li>{{.Site.Home}}</li>

    </ul>   
     </p>
 </nav>      
</div>
  </body>
</html>
