{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="posts">

 {{ range .Site.Menus.main}}

    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Parent }}</a>
    </h1>
 {{ end }}
<nav class="sidebar-nav">
  {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Title }}">
      {{- .Name -}}
      {{- with .Page -}}      
      {{- end -}}
    </a>
  {{ end }}
</nav>


 
<p> 
    <ul>
          {{ range .Site.Menus.main}}
        <li>Hello</li>
        
        <li>{{if .PrevPage}}{{.PrevPage.Permalink}}{{end}}</li>
        <li>{{.Name}}</li>
     {{end}}
    </ul>    
        </p>
</div>
  </body>
</html>
