{{ partial "head.html" . }}
{{ < ref "one.md" >}}
<body>



  

      
  <p>

 {{ range .Site.Menus.main}}

    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Parent }}</a>
    </h1>
 {{ end }}
  </p>
      
<p>
  {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Title }}">
      {{- .Name -}}
      {{- with .Page -}}      
      {{- end -}}
    </a>
  {{ end }}


</p>
 
<p> 
    <ul>
          {{ range .Site.Menus.main}}
        <li>Hello</li>
         <li> {{.Site.Files}}</li>
        <li> {{.}}</li>
        <li>{{ readDir "{{.}}" }}</li>
        <li>{{.Name}}</li>
     {{end}}
    </ul>    
        </p>

  </body>
</html>

