
<div class="sidebar">
  <div class="container sidebar-sticky">
 <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <h4><a href="/">Home</a> </h4>
      <a href="https://github.com/alexis2113/gelly"> Github</a>
   </div>  
    {{ range (where .Data.Pages "Section" "!=" "") }}<h4>{{ .Section }}</h4>{{ end }}
  

    {{range .Site.RegularPages}} <h5>{{.Title}}</h5>{{end}}

 
  {{ range .Sections }}<h4>{{ .Name }}</h4>{{ end }}
  
    
     
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
